* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
}
.form-content {
    display: flex;
    justify-content: center;
    margin: 10px 300px;
    flex-direction: column;
}
.other-hobby,
.input-content {
    width: 100%;
    margin-top: 5px;
    height: 20px;
}
.submit-content {
    width: 10%;
    height: 30px;
    margin: 20px 0 0 20px;
}
.submit-content:hover {
    cursor: pointer;
}
/* Responsive form */
@media (min-width: 46.35em) and (max-width: 64em) {
    .form-content {
        display: flex;
        justify-content: center;
        margin: 10px 100px;
        flex-direction: column;
    }
    .submit-content {
        width: 101%;
        height: 30px;
        margin: 20px 0 0;
    }
}
@media (max-width: 46.1875em) {
    h2 {
        font-size: 24px;
    }
    .form-content {
        display: flex;
        justify-content: center;
        margin: 10px 10px;
        flex-direction: column;
    }
    .submit-content {
        width: 102%;
        height: 30px;
        margin: 20px 0 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}